    .banner-destaque {
        float: right;
        position: static;
    }

    #navegacao li {
        padding-right: 3%;
        padding-left: 3%;
        display: inline;
    }


    body {
        font-size: 20px;
    }

    .departamentos li:hover ul {
        display: block;
    }


    .departamentos li ul {
        display: none;

    }

    .departamentos nav {
        left: -18%;
    }

    .departamentos {
        margin-left: 5%;
        float: left;
        margin-right: 10px;
        width: 230px;

    }

    header h1 {
        display: block;
        position: relative;
        text-align: center;
        align-content: center;


    }

    /* contato */
    #divcontato {
        float: right;
    }


    /* quem somos  */

    p {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        text-align: justify;
        text-indent: 3%;

    }

    header {
        width: 100%;
        position: static;
        display: block;
        align-content: center;
        background-color: #101e42;
    }

    .he2 figure {
        background-color: #101e42;
    }

    .he2 nav {
        position: static;
        align-content: center;
    }



    @media (max-width: 575px) {}

    @media (max-width: 575px) {
        h1 {
            text-align: center;
            margin-right: 0;
        }

        #navegacao li:first-child {
            /* margin-left: -20%; */
            text-align: center;
        }

        #navegacao li:last-child {
            /* margin-right: -20%; */
            text-align: center;
        }


        .he2 nav {
            align-content: center;
            text-align: center;
        }

        .he2 {
            align-content: center;
            text-align: center;
        }

        .text-sm-left {
            text-align: left !important;
        }

        .text-sm-right {
            text-align: right !important;
        }

        .text-sm-center {
            text-align: center !important;
        }

        .banner-destaque {
            text-align: center;
            position: static;
        }

    }

    /* teste de alinhamento */



    .container {
        float: left;
        align-content: center;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 2%;
        width: 50%;
    }

    .container li {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin: 2%;
        padding-bottom: 10%;
    }